body {
  background-color: #0d1117;
}

.progressionbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #0d1117;
}

.progress-bar {
  height: 8px;
  background: #00c77e;
  width: 0%;
}
