h1 {
    font-size: 40px;
    color: #fff;
    font-family: "Ink Free";
    text-shadow: 2px 2px 8px black;
}

body {
    background-color: #333;
    color: white;
    user-select: none;
    text-align: center;
}

a {
    text-decoration:none;
    font-size: 50px;
    color: #AA5500;
}

a:hover {
    color : white;
}

.contenu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 373px;
    margin: auto;
}

.cell {
    font-family: "Ink Free";
    width: 120px;
    height: 120px;
    border: 3px solid white;
    cursor: pointer;
    line-height: 120px;
    font-size: 80px;
}

.cell:hover {
    background-color: #444;
}

.message {
    font-family: "Ink Free";
    color: cyan;
}

#un {
    border-radius: 10% 0% 0% 0%;
}

#deux {
    border-radius: 0% 10% 0% 0%;
}

#trois {
    border-radius: 0% 0% 0% 10%;
}

#quatre {
    border-radius: 0% 0% 10% 0%;
}

#new {
	background-color: #4189d7;
	border: none;
    border-radius: 5px;
	color: white;
	padding: 10px 20px;
    font-family: "Arial";
	font-size: 16px;
    cursor: pointer;
	transition: 0.2s;
}

#new:hover {
	background-color: white;
    border: none;
	color: #4189d7;
    font-size: 18px;
    box-shadow: 0 0 4px white,
                0 0 4px white,
                0 0 4px white,
                0 0 4px white;
}

@media only screen and (max-width: 800px) {
    .contenu {
        width: 250px;
    }
    .cell {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 40px;
    }
}