html {
	height: 100%;
	background-image: url(./bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;
}

h1 {
	font-size: 40px;
	color: #fff;
	text-shadow: 2px 2px 4px black;
}

a {
	text-decoration: none;
}

a:hover {
	color: rgb(175, 175, 175);
}

#info {
	font-size: 20px;
	text-shadow: 2px 2px 4px black;
}

#clicker {
	height: 250px;
	width: 750px;
	font-size: 50px;
	border-radius: 25px;
	border: 5px solid #750000;
	background-color: #aaa;
	transition: 0.1s;
	cursor: pointer;
}

#clicker:hover {
	border: 3px solid #750000;
	background-color: #AA5050;
}

#clicker:active {
	font-size: 60px;
}

#cps {
	font-size: 25px;
	font-weight: bold;
	height: 50px;
	min-height: 50px;
	text-shadow: 2px 2px 4px black;
}

.bouton {
	background-color: #9b0000;
	border: 2px solid #610000;
	border-radius: 10px;
	color: #fff;
	text-align: center;
	width: 150px;
	height: 50px;
	font-size: 18px;
	transition: 0.1s;
	cursor: pointer;
}

.bouton:hover {
	background-color: #b63636;
}

@media only screen and (max-width: 1000px) {
	#clicker {
		height: 200px;
		width: 100%;
	}
	h1 {
		font-size: 30px;
	}
}

@media only screen and (min-width: 1921px) {
	html {
		background-size: cover;
	}
}
