* {
    font-family: Arial;
    text-shadow: 2px 2px 4px black;
    color: white;
    text-align: center;
}

html {
	height: 100%;
    background-image: url(./bg.jpg);
    background-position: center;
  	background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: white;
    font-size: 50px;
}

a:hover {
    color: rgb(255, 180, 180);
}

h1 {
    font-size: 50px;
}

#info {
    font-size: 20px;
}

#clicker {
    height: 250px;
    width: 750px;
    font-size: 50px;
    border-radius: 25px;
    border: 5px solid #750000;
    background-color: #aaa;
    transition: 0.1s;
    cursor: pointer;
}

#clicker:hover {
    border: 3px solid #750000;
    background-color: #AA5050;
}

#clicker:active {
	font-size: 60px;
}

#cps {
    font-size: 25px;
    font-weight: bold;
    color:white;
}

.bouton {
    background-color: #9b0000;
    border: 2px solid #610000;
	border-radius: 10px;
    color: white;
    text-align: center;
    width: 150px;
	height: 50px;
    font-size: 18px;
	transition: 0.1s;
    cursor: pointer;
}

.bouton:hover {
	background-color: #b63636;
    border: 2px solid #610000;
	color: white;
}

@media only screen and (max-width: 1000px) {
    #clicker {
        height: 200px;
        width: 100%;
    }
}

@media only screen and (min-width: 1921px) {
    html {
		background-size: cover;
	}
}
