h1 {
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px 8px black;
}

h2 {
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 8px black;
}

body {
    background-color: #333;
    color: white;
    font-family: "Arial";
    text-align: center;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0; left: 0; right: 0;
}
  
a {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px black;
    text-decoration:none;
    font-size: 50px;
}

a:hover {
    color: rgb(200, 200, 200);
}

#btn {
	background-color: #fff;
    border: none;
    border-radius: 5px;
	width: 200px;
    height: 90px;
	font-size: 40px;
	cursor: pointer;
	transition: 0.2s;
    box-shadow: 0 0 2px #333,
                0 0 2px #333,
                0 0 2px #333,
                0 0 2px #333;
}

#btn:hover {
	background-color: rgb(200, 200, 200);
}

#btn:active {
	font-size: 50px;
}
