table {
	border: 1px solid white;
	border-collapse: collapse;
	width: 50%;
}

td,th {
	border: 1px solid white;
	text-align: center;
}

body {
	color: white;
	background-color: #333333;
}
table {
	width: 60%;
}