@font-face {
	font-family: Roboto;
	src: url('../../../fonts/Roboto.woff') format('woff');
	font-display: swap;
}

html {
	font-family: Roboto;
	background-color: #202020;
	color:#bbb;
}

h1 {
	font-size: 40px;
	color: #fff;
	text-shadow: 2px 2px 4px black;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: rgb(175, 175, 175);
}

#bouton1, #bouton2 {
	font-family: Roboto;
	background-color: #717171;
	border: 1px solid #717171;
	color: white;
	width: 130px;
	height: 40px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.2s;
}

#bouton1:hover, #bouton2:hover {
	background-color: white;
	color: #717171;
}

#bouton3 {
	font-family: Roboto;
	background-color: #914c4c;
	border: 1px solid #914c4c;
	color: white;
	width: 130px;
	height: 40px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.2s;
}

#bouton3:hover {
	background-color: white;
	color: #914c4c;
}

#bouton1:disabled, #bouton2:disabled {
	color: #959595;
}

#bouton3:disabled {
	color: #c26565;
}

#bouton1:disabled:hover, #bouton2:disabled:hover {
	background-color: #717171;
	border: 1px solid #717171;
	color: #959595;
}

#bouton3:disabled:hover {
	background-color: #914c4c;
	border: 1px solid #914c4c;
	color: #c26565;
}

#texte2 {
	height: 25px;
	min-height: 25px;
}

input[type=checkbox] {
	font-family: Roboto;
	position: relative;
	cursor: pointer;
	-moz-appearance: initial;
	vertical-align: middle;
}

input[type=checkbox]:before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	border: 2px solid #555;
	background-color: #333;
}

input[type=checkbox]:checked:after {
	content: "";
	position: absolute;
	display: block;
	width: 5px;
	height: 10px;
	border: solid rgb(200, 200, 200);
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	top: 2px;
	left: 6px;
}

label {
	padding-left: 10px;
	vertical-align: middle;
}

@media only screen and (max-width: 800px) {
	h1 {
		font-size: 30px;
	}
}