<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PouletEnSlip | Personal Website</title>
    <meta name="description" content="PouletEnSlip's personal website where you can find all his projects.">
    <meta name="application-name" content="PouletEnSlip | Personal Website">
    <meta name="author" content="PouletEnSlip">
    <meta name="copyright" content="PouletEnSlip">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta property="og:type" content="website">
    <meta property="og:title" content="PouletEnSlip | Personal Website">
    <meta property="og:description" content="PouletEnSlip's personal website where you can find all his projects.">
    <meta property="og:site_name" content="PouletEnSlip | Personal Website">
    <meta property="og:url" content="https://pouletenslip.github.io/">
    <meta property="og:image" content="https://pouletenslip.github.io/favicon.ico">
    <meta property="og:locale" content="en">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://pouletenslip.github.io/">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% unless page.light_mode %}
    <script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.34/darkreader.min.js"></script>
    <script>
        DarkReader.enable();
    </script>
    {% endunless %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">PouletEnSlip</h1>
      <h2 class="project-tagline">Personal Website</h2>
        <a href="https://github.com/PouletEnSlip" class="btn">My GitHub</a>
    </header>
    <div class="progressionbar">
      <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>  
    </div>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <button id="btnTop" onclick="topFunction()">^</button>
      <footer class="site-footer">
          <span class="site-footer-owner"><a href="https://github.com/PouletEnSlip/pouletenslip.github.io">pouletenslip.github.io</a> by <a href="https://github.com/PouletEnSlip">PouletEnSlip</a> © 2022 - All Rights Reserved</span>
      </footer>
    </main>
    <script src="../../script/script.js"></script>
  </body>
</html>
